$bg-red: #D74715;
$text: #FAE0C6;
$text-sel: #F8C592;
$text-bg: rgba(183, 58, 15, 15);

$header-bg: #C15124;
$carousel-shadow: #9F3915;
$body-bg: #FFF6D7;
$btn-hov: #D74715;
$bg-beige: #C17E51;
$dot-hover: #A35B2B;
$dot-shadow: #7F2C0F;
$dot-active: #F1B58C;